server {
        listen   80; 
        server_name  {{ server_name }};

        access_log /var/log/nginx/{{ server_name }}/access.log;
        error_log /var/log/nginx/{{ server_name }}/error.log;

        root   {{deploy_dir}}/www;
        index index.php;

        location / {
            include function/allow_public_ip;
        }

    	location ~ \.php$ {
    	    fastcgi_pass   127.0.0.1:9000;
            fastcgi_read_timeout 3600;
            fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    	    include        fastcgi_params;
    	}

}  
